.about {
  margin-top: 20px;
  height: 50vh;
  @include tb {
    height: 30vh;
  }
  p {
    margin-top: 20px;
    line-height: 1.7;
    font-size: 1.5rem;
    text-align: center;
    @include sp {
      font-size: 1.6rem;
    }
  }
}
