.header{
    margin-top: 20px;
    position: relative;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        position: fixed;
        width: 800px;
        z-index: 3;
        top: 50px;
        left: 50%;
        transform:translate(-50%, -50%)
    }
    &__logo{
        width:30px;
        @include sp{
        width: 20px;
        }
        a{
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 1.5px;
            color: $black;
        }
    }
    &__nav{
        padding-right: 10px;
        a{
            margin: 0 20px;
            text-decoration: none;
            letter-spacing: 1.75px;
            text-transform: uppercase;
            font-size: 1.3rem;
            color: $black;
            position: relative;
            padding-bottom: 8px;
            &:last-child{
                margin-right: 0;
            }
            &:before,
            &:after{
              content: '';
              position: absolute;
              bottom: 2px;
              left: 0;
              right: 0;
              height: 2px;
              background-color: $black;
            }
            &:before{
              opacity: 0;
              transform: translateY(-$distance);
              transition: transform 0s $easeOutBack, opacity 0s;
            }
            &:after{
              opacity: 0;
              transform: translateY($distance/2);
              transition: transform $duration $easeOutBack, opacity $duration;
            }
            &:hover,
            &:focus{
              &:before,
              &:after{
                opacity: 1;
                transform: translateY(0);
              }
              &:before{
                transition: transform $duration $easeOutBack, opacity $duration;
              }
              &:after{
                transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
              }
            }
        }
    }
    &__gnav{
        display: inline;
        font-size: 3rem;
        letter-spacing: 1.5px;
        padding: 30px 0 10px;
        &List{
        display: flex;
        }
    &Item{
        a{
            font-size: 1rem;
            outline:none;
        }
    }
    }
    &__desc{
        padding-top: 210px;
        margin-bottom: 230px;
        display: flex;
        text-align: center;
        align-items: center;
        @include sp{
          flex-direction: column-reverse;
          margin-top: 190px;
          margin-bottom: 210px;
        }
        h2{
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
            margin-top: 30px;
            text-decoration: underline; 
            animation: down 1s ease 1.2s forwards;
            opacity: 0;  
            position: relative;
        }
    }
    &__baby{
      margin: auto;
      width: 325px;
      @include sp{
        width: 200px;
      }
    }
    &__name{
      padding-left: 7px;
      span{
        position: relative;
        color: transparent;
        &::before{
          content:attr(data-content);
          opacity: 0;
          position: absolute;
          top: -30px;
          color: transparent;
          text-shadow: none;
          transition: 0.6s ease;
          animation: falls 1s ease forwards;
          color: $black;
                }
        &:nth-of-type(1){
          &::before{
            animation: falls 0.7s ease 0.4s forwards;
          }
        }
        &:nth-of-type(2){
          &::before{
            animation: falls 0.8s ease 0.5s forwards;
          }
        }
        &:nth-of-type(3){
          &::before{
            animation: falls 0.9s ease 0.6s forwards;
          }
        }
        &:nth-of-type(4){
          &::before{
            animation: falls 1.0s ease 0.7s forwards;
          }
        }
      }
    }
}
@keyframes down {
  0% {
      opacity:  0;
      top: 50px;
  }
  100% {
      opacity:  1;
      top: 0;
  }
}
@keyframes falls{
  0%{
    top: -30px;
  }
  100%{
    opacity: 1;
    top: 0;
  }
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 46px;
    display: block;
    @include pc{    
        display: none;
    }
    @include tb{
        top:42px;
    }
    @include sp{
        width: 34px;
        height: 28px;
        top: 38px;
        left: 27px;
    }
  }

.bm-burger-bars {
    background: #000;
    border-radius: 30px;
    height: 4px!important;
}
  
.bm-burger-bars-hover {
    background: #000;
}

  .bm-cross-button {
    height: 26px;
    width: 26px;
  }

  .bm-cross {
    background: #bdc3c7;
  }

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0;
    @include sp{
        width: 50%!important;
    }
  }
  
  .bm-menu {
    background: #fff;
    padding: 2.5em 0;
    font-size: 3rem;
    width: 100%;
  }
  
  .bm-morph-shape {
    fill: #fff;
  }

  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8rem;
    padding-right: 4rem;
  }

  .bm-item {
    display: inline-block;
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
  }
