.works{
    margin-top: 90px;
    h2{
        text-align: center;
        padding-top: 20px;
        margin-bottom: 50px;
    }
    &__list{
        margin-top: 20px;
    }
    &__item{
        border: 2px solid $black;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        margin-top: 30px;
    }
    &__title{
        font-size: 2.3rem;
    }
    &__desc{
        margin-top: 20px;
    }
    &__skill{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        margin-top: 15px;
        li{
            display: inline;
            border:2px solid $yellow;
            margin: 5px;
            padding: 2px 7px 3px;
            border-radius: 5px;
            font-size: 1.4rem;
        }
    }
    &__linkBtn{
        font-weight: bold;
        text-decoration: none;
        color: $theme-color;
    }
    &__img{
        margin-top: 20px;
        margin-bottom: 10px;
        width: 605px;
        height: 300px;
        overflow: hidden;
        display: block;
        img{
            transition: 0.5s!important;
            width: 605px;
            display: block;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    &__more{
        text-align: center;
        margin-top: 20px;
        a{
            padding: 12px 10px 10px;
            color: #fff;
            background-color: $black;
            display: inline-block;
            text-decoration: none;
            font-size: 1.5rem;
            @include sp{
                font-size: 1.2rem;
                padding: 6px 10px 7px;
            }
        }
    }
}