@import "partials/variables";
@import "partials/mixins";
@import "partials/works";
@import "partials/about";
@import "partials/ress";
@import "partials/header";
@import "partials/footer";

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: $font;
    font-size: 1.6rem;
}

ul{
    list-style-type: none;
}

a{
    transition: 0.5s;
    color: $black;
    text-decoration: none;
}

.contentWrapper{
    @include content-wrapper;
    @include sp{
        @include content-wrapper--sp;
    }
}

@keyframes down {
    0% {
        opacity:  0;
        top: 30px;
    }
    100% {
        opacity:  1;
        top: 0;
    }
  }

@keyframes falls{
    0%{
      top: -30px;
    }
    100%{
      opacity: 1;
      top: 0;
    }
  }