@import "partials/variables";

html, body{
    font-family: $font;
    font-size: 16px;
}

.contentWrapper{
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px){
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px){
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px){
        width: 768px;
        min-width: 768px;
    }
}

.header{
    height: 80px;
    width:100%;
    position:absolute;
    top:0px;
    z-index: 10;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }
    &__logo{
        a{
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 1.5px;
            color: $black;
        }
    }
    &__nav{
        a{
            margin: 0 20px;
            text-decoration: none;
            letter-spacing: 1.75px;
            text-transform: uppercase;
            font-size: 0.7rem;
            color: $black;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}