@import "partials/variables";
@import "partials/mixins";
@import "partials/works";
@import "partials/about";
@import "partials/ress";
@import "partials/header";
@import "partials/footer";

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: $font;
    font-size: 1.6rem;
}

ul{
    list-style-type: none;
}

a{
    transition: 0.5s;
    &:hover{
        // opacity: 0.6;
    }
}

.contentWrapper{
    @include content-wrapper;
    @include sp{
        @include content-wrapper--sp;
    }
}