@import "partials/variables";
@import "partials/mixins";
@import "partials/works";
@import "partials/about";
@import "partials/ress";
@import "partials/footer";

html, body{
    font-family: $font;
    font-size: 16px;
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
}

.contentWrapper{
    @include content-wrapper;
    @include sp{
        @include content-wrapper--sp;
    }
}

.header{
    height: 80px;
    width:100%;
    position:absolute;
    top:0px;
    z-index: 10;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }
    &__logo{
        width: 50px;
        height: 50px;
        a{
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 1.5px;
            color: $black;
        }
    }
    &__nav{
        a{
            margin: 0 20px;
            text-decoration: none;
            letter-spacing: 1.75px;
            text-transform: uppercase;
            font-size: 0.7rem;
            color: $black;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__desc{
        text-align: center;
        h2{
            font-size: 1.9rem;
        }
        p{
            font-size: 0.9rem;
            margin-top: 10px;
        }
    }
}

//typing js

.ml16 {
    color: $black;
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
  }
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
  }